/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  margin: 0px;
 }

body {
  background: image-url("wallpaper.jpg");
  background-color: black;
  background-repeat: repeat-y repeat-x;
  background-size: 1800px;
  background-position: center top;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
 }

.field, .actions {
  text-align: center;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center
}

.twolinkcolumn {
  display: flex;
}

.logo {
  margin-left: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.navbar {
  display: flex;
  height: 45px;
  text-decoration: none;
}

.navbar li {
  display: inline-flex;
}

.navbar li:visited {
  color: black;
}

.navbar li:hover {
  text-decoration: underline;
}

.navbar1, .navbar2, .navbar3 {
  padding-left: 0px;
}

.navbar1 {
  margin-left: 145px;
}

.navbar1 li {
  margin: auto 5px;
}


.navbar2 li {
  margin-top: -15px;
  margin-left: 300px;
}
.navbar3 {
  margin-left: 400px;
}

.navbar3 li {
  margin: auto 10px;
}

li {
  list-style: none;
  text-decoration: none;
  color: black;
}

.container {
  display:flex;
  margin: 20px 100px auto 100px;
}

.column-one {
  flex: 1;
  order: 1;
  border-radius: 5px;
  margin-right: 10px;
}

.column-two {
  order: 2;
  border-radius: 5px;
  margin-right: 10px;
  flex: 2;
  margin-bottom: 20px;
}

.column-three {
  order: 3;
  border-radius: 5px;
  margin-bottom: 20px;
}

.header, .lollinks, .recentteams, .recentusers,
.userlist, .userinfo, .post, .navbar, .postbox, .postlist {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.lollinks {
  margin-top: 10px;
  padding-bottom:20px;
}

.lollinks li {
  padding-top:10px;
  padding-left:30px;
  padding-botton:10px;
}

.lollinks a {
  text-decoration: none;
}

.lollinks a:hover {
  text-decoration: underline;
}

.lollinks h1 {
  font-size: 30px;
}

.postbox {
  text-align: center
}

.recentteams h1 {
  font-size: 30px;
  text-align: center;
}

.recentteam, .recentuser {
  padding-top:5px;
}

.recentusers {
  margin-top: 10px;
}

.userlist {
  padding: 10px 35px;
}

.userinfo {
  padding: 10px
}

.pictureleft, .quickinfo, .quickinforight, .postimageleft,
.postcontentright {
  display:inline-block;
}

.header, .post, .recentusers, .recentteams {
  padding: 10px;
}

.postcontentright {
  vertical-align: top;
}

.pathlinksright {
  vertical-align: bottom;
  margin-top: 33px ;
}
